* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;    
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.wrapper-instagram {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.phone-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.phone-container img {
    height: 50rem;
}