* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;    
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(243,243,243);
}

.wrapper-instagram {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.phone-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.phone-container img {
    height: 50rem;
}

.continue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid lightgray;
    width: 100%;
    padding: 1.3rem 0;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.photo-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.photo-profile img{
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160,160,160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download-app {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.app-download {
    width: 10em;
    height: 3em;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url("../imgs/apple-button.png");
}

.app-download:nth-child(2) {
    background-image: url("../imgs/googleplay-button.png");
}

/*media queries*/

@media (max-width: 1024px) {
    .wrapper-instagram {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: white;
    }

    .phone-container {
        display: none;
    }

    .continue-container {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}